@import 'variables';
@import 'mixins';
*{box-sizing: border-box;
margin: 0px;
padding: 0px;
}
body{// height: 30000px;
    font-family: 'Roboto', sans-serif;
    
    
    
    
}
header{
    width: 100%;
    label{
        font-size: 1.5em;
    }
    
   ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;

    background: #E0EAFC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    

    li{
        font-size: 1em;
        margin-top: .5em;
        margin-left: 1em;
        
    
        a{
            margin-right: 1em;
            color: $logo_plava;
            &:hover{
               text-decoration: none; 
               color: gray;
            }
           
        }
    }
    .fb{
        font-size: 2.5em;
        margin-right: 1em;
        margin-top: .2em;
        &:hover{
            filter: gray; /* IE6-9 */
                        -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
                        filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
        }
    }
   }
}
.nav{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
   
   
    
    
   
    
    .navigacija{
        padding-top: .5em;
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .toggle-button{
            position: absolute;
            top: 5em;
            right: 1rem;
            display: none;
            flex-direction: column;
            justify-content: space-between;
            width: 31px;
            height: 21px;
            @media (max-width: 400px) {
                display: flex;
            }
            .bar{
                height: 3px;
                width: 100%;
                background-color: black;
                border-radius: 10px;
            }
        }
        // --------------------------------------------------------

/*Proveriti gde treba da ide ovaj query*/
        @media (max-width: 400px) {
          flex-direction: column;
          align-items: flex-start;
          }
        
    
        ul{
          list-style: none;
          display: flex;
          flex-direction: row;
          @media (max-width: 400px) {
           width: 100%;
           flex-direction: column;
          }
          li{
              transition: transform .5s ease-in-out;
              &:hover{
                transition: transform .5s ease-in-out;
                transform: scale(1.2);
              }
              @media (max-width: 400px) {
               text-align: center;
              }
              .active{
                @media (max-width: 400px) {
                   display:flex ;
                  }
              }
            //   ----------------------------------------------------------------
           
              a{
                  text-decoration: none;
                  color: $font;
                  padding-right: 1rem;
                  //------------------------------------------------------------
                  @media (max-width: 400px) {
                  display: none;
                  width: 100%;
                }
                // ---------------------------------------------------------------
                  &:hover{
                      color: $logo_plava;
                  }
                  img{

                      width: 100px;
                      height: 80px;
                      margin-top: -.3em;
                      &:hover{
                        filter: gray; /* IE6-9 */
                        -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
                        filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
                      }
                          
                          
                      
                  }
                //   .active{
                //     @media (max-width: 400px) {
                //        display:flex ;
                //       }
                //   }
              }
          }
        }
       
        }
    }
    
    .dugme{
        height: 2em;
        border: 3px solid white;
        width: 250px;
        padding: 3px;
        color: #fff;
        background-color: $logo_plava;
        border-radius: 15px;
        transition: all .4s;
        a{
            text-decoration: none;
            color: azure;
            &:hover{
                text-decoration: none;
                color: azure;
            }
        }
        &:hover{
            transform: scale(1.2);
            transition: all .4s;
            background-color: gray;

        }
    }
// Hero Sekcija
 


.hero{
    .carousel-item.active.prvi{
        background-image: url("/assets/PrvaCarousel.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 1898px;
        height: 560px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h1{
            color:$logo_plava;
            font-weight: 500;
            font-size:7em;
            background-color: rgba(0, 0, 0, 0.692);
            border-radius: 10px;
            padding-left: 2px;
            padding-right: 2px;
        }
        span{
            color: white;
            font-size: 2em;
            background-color: rgba(0, 0, 0, 0.692);
            border-radius: 10px;
            padding: 2px;
        }
}
.carousel-item.active.drugi{
    background-image: url("/assets/druga-carousel.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 1898px;
    height: 560px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h2{
            color: $font;
            font-size: 5em;
            background-color: rgba(255, 255, 255, 0.623);
            border-radius: 10px;
            padding: 2px;
    }
}
}







// Zašto izabrati baš nas
.special{
    
    background-color: $bg-color;
    padding: 2em;

    .container{
        .row{
            .col-12{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                span{
                    text-align: center;
                    font-size: 2.5em;
                    margin-bottom: 1em;
                    color: gray;
                }
                h2{
                    font-size: 4em;
                    transition: all .4s;
                    &:hover{
                        transform: scale(1.2);
                         transition: all .4s;
                         
                    }
                }
               
                .fas.fa-paw.large{
                    font-size: 5em;
                    color: $logo_plava;
                    margin-bottom: .5em;
                    &:hover{
                        transform: scale(1.2);
                         transition: all .4s;
                        color: gray;
                    }
                }
                    
                
                .dugme{
                    p{
                        margin: 0%;
                        
                    }
                    height: 3em;
                    font-size: 2em;
                    padding: .2em;
                    

                }

                
            }
        }
    }
}
// Naš tim sekcija
.about{
    @include flex-center;
    @include iconH2;
.rados{
    height: 70vh;
    width: 40%;
    background-image: url(/img/rados.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
   
    &:hover{
        .rados-darken{
            left: 0px;
            transition: all .9s;
            
        }
    }

    &-darken{
        @include flex-center;
        @include darken;
        transition: all .9s;
        
        
        

    }
}

}
.grid{
    margin-top: 2em;
    margin-right: 1.5em;
    margin-bottom: 5em;
    max-width: 100%;    
    height: 90vh;
    display: grid;
    grid-gap: .5em;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows:1fr 1fr 1fr;
    grid-template-areas: 
    "first first second second"
    "third third fourth fourth"
    ". fifth fifth ."
    ;
    &-first{
        grid-area: first;
        background-color: aqua;
        @include flex-center;
      
    }
    &-second{
        grid-area: second;
        background-color: bisque;
        @include flex-center;
     
    }
    &-third{
        grid-area: third;
        background-color: brown;
        @include flex-center;
    }
    &-fourth{
        grid-area: fourth;
        background-color: rgb(148, 135, 222);
        @include flex-center;
    }
    &-fifth{
        grid-area: fifth;
        background-color: rgb(155, 222, 135);
        @include flex-center;
    }
    

}
// USLUGE
.services{
    @include iconH2;
    @include flex-center;
    background-color: $bg-color;
    padding: 2em;
    h2{
        margin-bottom: 1em;
    }
    
    div{
        @include flex-center;
        ul{
            li{
                list-style: none;
                font-size: 1.5em;
            }
        }
        /* Firefox */
        -moz-transition: all .5s ease-in;
        /* WebKit */
        -webkit-transition: all .5s ease-in;
        /* Opera */
        -o-transition: all .5s ease-in;
        /* Standard */
         transition: all .5s ease-in;
         border-radius: 20px;
       
         &:hover{
            padding: .5em;
            color: black;
        background-color: yellow;
        /* Firefox */
        -moz-transition: all .5s ease-in;
        /* WebKit */
        -webkit-transition: all .5s ease-in;
        /* Opera */
        -o-transition: all .5s ease-in;
        /* Standard */
         transition: all .5s ease-in;
         border-radius: 20px;
        }
    }
}
            /*Galerija-------------------------------------------------*/

.pictures{
    @include iconH2;
    @include flex-center;
    margin-top: 1em;
    margin-bottom: 1em;
}





.galerija{
    display: grid;
    grid-template-columns: 300px 300px 300px;
 
    
    justify-content: center;
    align-items: center;
    grid-gap: 5px;
    height: 100vh;
    img{
        width: 300px;
        height: 300px;
        cursor: pointer;
    }
}
#lightbox{
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    display: none;
   
    img{
        max-width: 100%;
        max-height: 100%;
        background-color: black;
        border: 2px solid white;
    }
    &.active{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
/*Kontakt sekcija*/

.kontakt{
    @include iconH2;
    @include flex-center;
    background-color: $bg-color;
    padding: 10px;
    .info{
        display: flex;
        flex-direction: row;
        .brojevi{
            display: flex;
            flex-direction: column;
            justify-content: center;
            //align-items: center;
            padding-left: 1em;
            padding-right: 1em;
            margin-right: 1em;
            span{
                font-size: 2em;

            }
        }
    }
    
    h2{
        margin-bottom: 1em;
    }
}

.back-to-top {
    position: fixed;
    bottom: 2em;
    right: 25px;
    display: none;
}


// O nama
.oNama{
    @include iconH2;
    @include flex-center;
    margin-top: 2em;
    padding: 2em;
    p{
        font-size: 2em;
    }
}


// Footer
.footer {
    position: bottom 0px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 128, 64, 0.65);
    color: white;
    text-align: center;
  }

