* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  height: 30000px;
  font-family: 'Roboto', sans-serif;
}

header {
  width: 100%;
}

header label {
  font-size: 1.5em;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  background: #E0EAFC;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#CFDEF3), to(#E0EAFC));
  background: linear-gradient(to right, #CFDEF3, #E0EAFC);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header ul li {
  font-size: 1em;
  margin-top: .5em;
  margin-left: 1em;
}

header ul li a {
  margin-right: 1em;
  color: #0046a5;
}

header ul li a:hover {
  text-decoration: none;
  color: gray;
}

header ul .fb {
  font-size: 2.5em;
  margin-right: 1em;
  margin-top: .2em;
}

header ul .fb:hover {
  filter: gray;
  /* IE6-9 */
  -webkit-filter: grayscale(1);
  /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1);
  /* Microsoft Edge and Firefox 35+ */
}

.nav {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2em;
  font-weight: bold;
}

.nav .navigacija {
  padding-top: .5em;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav .navigacija ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.nav .navigacija ul li {
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition: -webkit-transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
}

.nav .navigacija ul li:hover {
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition: -webkit-transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.nav .navigacija ul li a {
  text-decoration: none;
  color: #4f4c43;
  padding-right: 1rem;
}

.nav .navigacija ul li a:hover {
  color: #0046a5;
}

.nav .navigacija ul li a img {
  width: 100px;
  height: 80px;
  margin-top: -.3em;
}

.nav .navigacija ul li a img:hover {
  filter: gray;
  /* IE6-9 */
  -webkit-filter: grayscale(1);
  /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1);
  /* Microsoft Edge and Firefox 35+ */
}

.dugme {
  height: 2em;
  border: 3px solid white;
  width: 250px;
  padding: 3px;
  color: #fff;
  background-color: #0046a5;
  border-radius: 15px;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.dugme a {
  text-decoration: none;
  color: azure;
}

.dugme a:hover {
  text-decoration: none;
  color: azure;
}

.dugme:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all .4s;
  transition: all .4s;
  background-color: gray;
}

.hero .carousel-item.active.prvi {
  background-image: url("/assets/ambulanta slika uredjena br3.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 1898px;
  height: 560px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero .carousel-item.active.prvi h1 {
  color: #0046a5;
  font-weight: 500;
  font-size: 7em;
}

.hero .carousel-item.active.prvi span {
  color: white;
  font-size: 2em;
}

.special {
  background-color: rgba(106, 188, 235, 0.404);
  padding: 2em;
}

.special .container .row .col-12 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.special .container .row .col-12 span {
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 1em;
  color: gray;
}

.special .container .row .col-12 h2 {
  font-size: 4em;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.special .container .row .col-12 h2:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all .4s;
  transition: all .4s;
}

.special .container .row .col-12 .fas.fa-paw.large {
  font-size: 5em;
  color: #0046a5;
  margin-bottom: .5em;
}

.special .container .row .col-12 .fas.fa-paw.large:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all .4s;
  transition: all .4s;
  color: gray;
}

.special .container .row .col-12 .dugme {
  height: 3em;
  font-size: 2em;
  padding: .2em;
}

.special .container .row .col-12 .dugme p {
  margin: 0%;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about i {
  font-size: 5em;
  color: #0046a5;
  margin-bottom: .5em;
}

.about i:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all .4s;
  transition: all .4s;
  color: gray;
}

.about h2 {
  -webkit-transition: .4s all;
  transition: .4s all;
  font-size: 4em;
}

.about h2:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: .4s all;
  transition: .4s all;
  color: gray;
}

.about .rados {
  height: 70vh;
  width: 40%;
  background-image: url(/img/rados.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.about .rados:hover .rados-darken {
  left: 0px;
  -webkit-transition: all .9s;
  transition: all .9s;
}

.about .rados-darken {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(128, 128, 128, 0.472);
  height: 100%;
  width: 100%;
  position: absolute;
  left: -100%;
  bottom: 0;
  color: #fff;
  -webkit-transition: all .9s;
  transition: all .9s;
}

.grid {
  margin-top: 2em;
  margin-right: 1.5em;
  margin-bottom: 5em;
  max-width: 100%;
  height: 90vh;
  display: -ms-grid;
  display: grid;
  grid-gap: .5em;
  -ms-grid-columns: 25% 25% 25% 25%;
      grid-template-columns: 25% 25% 25% 25%;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: "first first second second" "third third fourth fourth" ". fifth fifth .";
}

.grid-first {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: first;
  background-color: aqua;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid-second {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: second;
  background-color: bisque;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid-third {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: third;
  background-color: brown;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid-fourth {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: fourth;
  background-color: #9487de;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid-fifth {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: fifth;
  background-color: #9bde87;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */