@import 'variables';
*{box-sizing: border-box;
margin: 0px;
padding: 0px;
}
body{height: 3000px;
    font-family: 'Roboto', sans-serif;
    
    
    
}
.nav{
    width: 100%;
    height: fit-content;
   // background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
    // background-color: rgba(128, 128, 128, 0.397);
    
   
    
    .navigacija{
        padding-top: .5em;
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
    
        ul{
          list-style: none;
          display: flex;
          flex-direction: row;
          li{
              transition: transform .5s ease-in-out;
              &:hover{
                transition: transform .5s ease-in-out;
                transform: scale(1.2);
              }
              a{
                  text-decoration: none;
                  color: $font;
                  padding-right: 1rem;
                  &:hover{
                      color: $logo_plava;
                  }
                  img{

                      width: 100px;
                      height: 80px;
                      margin-top: -.3em;
                      &:hover{
                        filter: gray; /* IE6-9 */
                        -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
                        filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
                      }
                          
                          
                      
                  }
              }
          }
        }
        button{
            height: 2em;
            border: 3px solid white;
            width: 250px;
            padding: 3px;
            color: #fff;
            background-color: $logo_plava;
            border-radius: 15px;
            transition: all .4s;
            &:hover{
                transform: scale(1.2);
                transition: all .4s;
                background-color: gray;

            }
        }
    }
}
.hero{
    // background-image: url(/assets/veterinarian-doctor-with-dog-cat-counter-vet-clinic_36082-523.jpg);
    // width: 100%;
    // height: 40vh;

    margin-top: 3em;
    display: grid;
    grid-template-columns: 50% 25% 25%;
    grid-template-rows: 40vh 40vh ;
    grid-gap: 10px;
    grid-template-areas: 
    "first second third"
    "first fourth fourth"
    ;

    img{
        width: 100%;
        height: 100%;
    }

    .item-1{
        grid-area: first;
        
    }
   .item-2{
       grid-area: second;
       
   }
   .item-3{
       grid-area: third;
       
   }
   .item-4{
       grid-area: fourth;
     
   }
}
